.rooms-table-container {
  margin-left: 30px;
  text-align: center;
  width: 30%;
  display: inline-table;
}

.rooms-container {
  float: right;
  display: inline-flex;
  border: 1px solid #ddd;
}

.container1 {
  float: right;
  margin-right: 30%;
  display: block;
  border: 1px solid #ddd;
}

.error-container {
  text-align: center;
  color: red;
}

.success-container {
  text-align: center;
  color: green;
}
