.table-container {
  margin-right: 30px;
  text-align: center;
  width: 30%;
  display: inline-table;
}

.rooms-container {
  float: right;
  margin-right: 30%;
  display: inline-flex;
  border: 1px solid #ddd;
}
