.rooms-table-container {
  margin-left: 100px;
  text-align: center;
  width: 30%;
  display: inline-table;
}

.dropdown-user {
  margin-top: 30px;
  margin-left: 200px;
  margin-bottom: 150px;
}

.rooms-container {
  float: right;
  display: inline-flex;
  border: 1px solid #ddd;
}

.container1 {
  float: right;
  margin-right: 20%;
  display: block;
  border: 1px solid #ddd;
}

.error-container {
  text-align: center;
  color: red;
}

.success-container {
  text-align: center;
  color: green;
}

button {
  width: 100%;
}
